@font-face {
    font-family: 'vazir_medium';
    src: url('/statics/index/vazirmatn/fonts/webfonts/Vazirmatn-Medium.woff2') format('woff2');
}

@font-face {
    font-family: 'vazir_regular';
    src: url('/statics/index/vazirmatn/fonts/webfonts/Vazirmatn-Regular.woff2') format('woff2');
}

.right_and_with_50 {
    width: 50%;
    text-align: right;
}

.vazir_medium {
    font-family: 'vazir_medium', sans-serif;
}

.vazir_regular {
    font-family: 'vazir_regular', sans-serif;
}

.htt-55 {
    line-height: 55px;
}

.my_container {
    padding: 20px;
    text-align: center;
}

.slider-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 20px;
}

.slider-label {
    margin-bottom: 10px;
}

.slider {
    width: 100%;
    max-width: 500px;
    direction: ltr;
}

.price {
    font-size: 24px;
    margin-top: 20px;
}

input[type="number"] {
    width: 80px;
    text-align: center;
    margin-left: 10px;
}

.flex-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.lable_continers {
    display: flex;
}

.grey-back {
    background-color: #fbfbfb;
}

.width-80 {
    width: 80%;
}

.temporary-message {
    position: fixed;
    top: 20px;
    left: 50%;
    transform: translateX(-50%);
    padding: 10px 20px;
    border-radius: 5px;
    color: white;
    z-index: 1000;
    opacity: 0.9;
}

.temporary-message.success {
    background-color: green;
}

.temporary-message.error {
    background-color: red;
}

.error-message {
      display: none; /* پیش‌فرض مخفی */
      position: fixed;
      top: 0;
      left: 0;
      width: 100%;
      background-color: #f8d7da;
      color: #721c24;
      padding: 15px;
      text-align: center;
      z-index: 9999;
      border-bottom: 1px solid #f5c6cb;
    }

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-menu {
    display: none;
    position: absolute;
    background-color: white;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    right: 0; /* برای راست به چپ بودن منو */
}

.dropdown-menu a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown-menu a:hover {
    background-color: #f1f1f1;
}