<!doctype html>
<html lang="en">
<head>
	<title>فری‌بایت | ورود</title>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

	<!--	<link href="https://fonts.googleapis.com/css?family=Lato:300,400,700&display=swap" rel="stylesheet">-->

	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">

	<link rel="stylesheet" href="{{ url_for('static', path='authentication/css/style.css') }}">
	<link rel="stylesheet" href="{{ url_for('static', path='index/my_custom_style.css') }}">

</head>
<body class="img js-fullheight" style="background-image: url({{ url_for('static', path='authentication/images/bg.jpg') }});">
<section class="ftco-section">
	<div class="container">
		<div class="row justify-content-center">
			<div class="col-md-6 text-center mb-5">
				<h2 class="heading-section vazir_medium">ورود به اکانت</h2>
			</div>
		</div>
		<div class="row justify-content-center">
			<div class="col-md-6 col-lg-4">
				<div class="login-wrap p-0">
					<!--					<p class="mb-4 text-center vazir_regular" style="font-size: 23px;">هنوز اکانت نساختید؟<a href="signin" class="vazir_regular" style="font-size: 21px;"> ثبت نام</a></p>-->
					<form id="loggin-form">
						<div class="form-group">
							<input name="email" type="email" class="form-control vazir_regular" placeholder="نام کاربری" required>
						</div>
						<div class="form-group">
							<input name="password" id="password-field" type="password" class="form-control vazir_regular" placeholder="رمزعبور" required>
							<span toggle="#password-field" class="fa fa-fw fa-eye field-icon toggle-password"></span>
						</div>
						<div class="form-group">
							<button type="submit" class="form-control btn btn-primary submit px-3 vazir_medium">ورود</button>
						</div>
						<div class="form-group d-md-flex" style="justify-content: center;">
							<div class="w-50">
								<label class="checkbox-wrap checkbox-primary vazir_regular">من را به خاطر بسپار
									<input type="checkbox" checked>
									<span class="checkmark"></span>
								</label>
							</div>
							<!--							<div class="w-50 text-md-right vazir_regular">-->
							<!--								<a href="#" style="color: #fff">فراموشی رمزعبور</a>-->
							<!--							</div>-->
						</div>
					</form>
					<div class="form-group vazir_medium" id="error-message" style="color: red; display: none; text-align: center;">
						<p></p>
					</div>
					<!--					<p class="w-100 text-center vazir_medium">&mdash; وارد شدن با &mdash;</p>-->
					<!--					<div class="social d-flex text-center">-->
					<!--						<a href="#" class="px-2 py-2 mr-md-1 rounded vazir_regular"><span class="ion-logo-facebook mr-2"></span> گوگل</a>-->
					<!--						<a href="#" class="px-2 py-2 ml-md-1 rounded vazir_regular"><span class="ion-logo-twitter mr-2"></span> توییتر</a>-->
					<!--					</div>-->
				</div>
			</div>
		</div>
	</div>
</section>

<script src="{{ url_for('static', path='authentication/js/jquery.min.js') }}"></script>
<script src="{{ url_for('static', path='authentication/js/popper.js') }}"></script>
<script src="{{ url_for('static', path='authentication/js/bootstrap.min.js') }}"></script>
<script src="{{ url_for('static', path='authentication/js/main.js') }}"></script>

<script>
	const errorMessages = {
        "email does not exist.": ".این ایمیل وجود ندارد",
        "password is not correct.": ".رمزعبور اشتباه است",

    };

    document.getElementById('loggin-form').addEventListener('submit', function(event) {
        event.preventDefault();

        const form = event.target;
        const formData = new FormData(form);
        const data = Object.fromEntries(formData.entries());

        fetch('/loggin/', {
            method: 'POST',
            headers: {
                'Content-Type': 'application/json'
            },
            body: JSON.stringify(data)
        })
        .then(response => response.json().then(data => ({status: response.status, body: data})))
        .then(({status, body}) => {
            const errorMessageElement = document.getElementById('error-message');
            errorMessageElement.style.display = 'block';
            if (status === 200) {

                errorMessageElement.style.color = 'lime';
                errorMessageElement.querySelector('p').textContent = '...ورود موفقیت آمیز بود. در حال انتقال';
                setTimeout(() => {
                    window.location.href = '/home';
                }, 2000);
            } else {
                const errorMessage = body.detail
                const translatedErrorMessage = errorMessages[errorMessage] || errorMessage;
                errorMessageElement.style.color = 'red';
                errorMessageElement.querySelector('p').textContent = translatedErrorMessage;
            }
        })
        .catch(error => {
            console.error('Error:', error);
            const errorMessageElement = document.getElementById('error-message');
            errorMessageElement.style.display = 'block';
            errorMessageElement.style.color = 'red';
            errorMessageElement.querySelector('p').textContent = '.خطایی رخ داده است. لطفاً مجدداً تلاش کنید';
        });
    });
</script>

</body>
</html>

