<!DOCTYPE html>
<html lang="fa" dir="rtl" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="{{ url_for('static', path='index/assets/css/theme.css') }}" rel="stylesheet" />
    <link href="{{ url_for('static', path='dashboard/my_custom_style.css') }}" rel="stylesheet" />

    <title>داشبورد سرویس‌های VPN</title>

</head>
<body>
<main class="main" id="top">
    {% include 'header/header.html' %}

    <div class="dashboard">

        {% if payment_status %}
        {% if payment_status == 1 %}
        <div style="background-color: green;padding: 7px 10px;border-radius: 10px;margin-bottom:20px;text-align: center;">
            پرداخت شما موفقیت آمیز بود!
        </div>
        {% else %}
        <div style="background-color: red;padding: 7px 10px;border-radius: 10px;margin-bottom:20px;text-align: center;">
            در هنگام اجرای عملیات مشکلی رخ داد و مبلغ سفارش به کیف پول شما بازگشت!
        </div>
        {% endif %}
        {% endif %}


        {% if all_services %}
        {% for service in all_services %}


        {% if service_detail_from_server[service.config_email] %}
        <div class="service-card" data-percentage="{{ service_detail_from_server[service.config_email]['usage_percent'] }}">
            <div class="service-details">
                <div class="service-info">
                    <h3 style="{% if not service_detail_from_server[service.config_email]['enable'] %} color: red; {% endif %}">سرویس {{service.plan_name}} شماره {{service.config_id}}</h3>
                    <p>زمان باقی‌مانده: {{ service_detail_from_server[service.config_email]['left_day'] }} روز</p>
                    <p>حجم باقی‌مانده: {{ service_detail_from_server[service.config_email]['left_traffic'] }} گیگابایت</p>
                </div>

                <div class="progress-circle">
                    <svg width="100" height="100">
                        <circle class="circle-bg" cx="50" cy="50" r="45"></circle>
                        <circle class="circle" cx="50" cy="50" r="45"></circle>
                    </svg>
                    <div class="percentage">70%</div>
                </div>
                {% else %}
                <div class="service-card">
                    <div class="service-details">
                        <div class="service-info">
                            <h3 style="{% if not service.service_status %} color: red; {% endif %}">سرویس {{service.plan_name}} شماره {{service.config_id}}</h3>
                            <p>دوره زمانی: {{service.period_day}} روز</p>
                            <p>ترافیک سرویس: {{service.traffic_gb}} گیگابایت</p>

                        </div>

                        <a href="/dashboard/service_detail_2" class="view_service_detail">مشاهده جزئیات سرویس</a>
                        {% endif %}

                    </div>
                    <div class="actions">

                        <input type="text" id="hiddenConfigAddress" value="{{ service.client_address }}" style="position: absolute; left: -9999px;">
                        <button class="widt-175px" style="margin-left: 10px;" onclick="copyToClipboard()">دریافت لینک سرویس</button>

                        <form class="renew_service">
                            <input type="hidden" class="config_id-input" value="{{ service.config_id }}">
                            <input type="submit" class="widt-175px" style="margin-left: 10px;" value="تمدید سرویس">
                        </form>

                        <form class="remove_service">
                            <input type="hidden" class="config_id-input" value="{{ service.config_id }}">
                            <input type="submit" class="widt-175px" style="margin-left: 10px;" value="حذف سرویس">
                        </form>
                    </div>
                </div>

                {% endfor %}


                {% else %}

                <div class="without-service">
                    هیچ سرویسی برای شما ثبت نشده، درصورت تمایل یک سرویس تهیه کنید:
                    <div class="actions" style="opacity: 100%;">
                        <a href="/home/#buy-plane" style="margin-left: 10px;">خرید سرویس</a>
                        <a href="/home/#upgrade-serivice">تمدید سرویس فعلی</a>
                    </div>

                </div>

                {% endif %}
            </div>

            <script src="{{ url_for('static', path='index/assets/js/theme.js') }}"></script>
            <script src="{{ url_for('static', path='index/vendors/bootstrap/bootstrap.min.js') }}"></script>

            <script>
                function setProgress(element, percentage) {
                    const circle = element.querySelector('.circle');
                    const radius = circle.r.baseVal.value;
                    const circumference = 2 * Math.PI * radius;
                    const offset = circumference - (percentage / 100 * circumference);

                    // اضافه کردن انیمیشن به دایره
                    setTimeout(() => {
                        circle.style.strokeDashoffset = offset;
                        element.querySelector('.percentage').textContent = `${percentage}%`;
                    }, 500);
                }

                // تنظیم درصد برای همه سرویس‌ها
                document.querySelectorAll('.service-card').forEach(card => {
                    const percentage = card.getAttribute('data-percentage');
                    setProgress(card.querySelector('.progress-circle'), percentage);

                    card.addEventListener('click', () => {
                        card.classList.toggle('expanded');
                    });
                });

                function copyToClipboard() {
                var copyText = document.getElementById("hiddenConfigAddress");
                copyText.select();
                copyText.setSelectionRange(0, 99999);

                document.execCommand("copy");

                alert("آدرس سرویس در کلیپ بورد شما کپی شد: ");
        }

        document.querySelectorAll('.remove_service').forEach(form => {
            form.addEventListener('submit', event => {
                event.preventDefault();

                const userConfirmed = confirm('آیا مطمئن هستید که می‌خواهید این سرویس را حذف کنید؟');
                if (!userConfirmed) {
                    return;
                }

                const configId = form.querySelector('.config_id-input').value;

                fetch(`/remove-user-service/${configId}`, {
                    method: 'DELETE',
                    headers: {
                        'Content-Type': 'application/json',
                    }
                })
                .then(response => response.json())
                .then(data => {
                    if (data.status === 'ok') {
                        form.closest('.service-card').remove();
                        showTemporaryMessage('سرویس با موفقیت حذف شد', 'success');
                    } else {
                        showTemporaryMessage('مشکلی در ثبت درخواست وجود داشت!', 'error');
                    }
                })
                .catch(error => {
                    console.error('Error:', error);
                    showTemporaryMessage('اتصال به سرور موفقیت‌آمیز نبود!', 'error');
                });
            });
        });


        document.querySelectorAll('.renew_service').forEach(form => {
            form.addEventListener('submit', event => {
                event.preventDefault();

                const configId = form.querySelector('.config_id-input').value;

                fetch(`/add-service-to-cart-for-renew`, {
                    method: 'PATCH',
                    headers: {
                        'Content-Type': 'application/json',
                    },
                    body: JSON.stringify({ config_id: configId })
                })
                .then(response => response.json())
                .then(data => {
                    if (data.status === 'ok') {
                        showTemporaryMessage('تمدید سرویس با موفقیت به سبدخرید اضافه شد', 'success');
                    }
                     else if (data.status === 'nok') {
                        showTemporaryMessage('سفارش تمدید این سرویس از قبل در سبد خرید شما وجود دارد', 'error');
                    }
                     else {
                        showTemporaryMessage('مشکلی در ثبت درخواست وجود داشت!', 'error');
                    }
                })
                .catch(error => {
                    console.error('Error:', error);
                    showTemporaryMessage('اتصال به سرور موفقیت‌آمیز نبود!', 'error');
                });
            });
        });


        function showTemporaryMessage(message, type) {
            const messageDiv = document.createElement('div');
            messageDiv.textContent = message;
            messageDiv.className = `temporary-message ${type}`;

            messageDiv.style.position = 'fixed';
            messageDiv.style.top = '80px';
            messageDiv.style.left = '50%';
            messageDiv.style.transform = 'translateX(-50%)';
            messageDiv.style.zIndex = '1031';
            messageDiv.style.padding = '15px 30px';
            messageDiv.style.color = 'white';
            messageDiv.style.backgroundColor = type === 'success' ? 'green' : 'red';
            messageDiv.style.borderRadius = '8px';
            messageDiv.style.boxShadow = '0 4px 8px rgba(0, 0, 0, 0.2)';
            messageDiv.style.fontSize = '16px';
            messageDiv.style.textAlign = 'center';
            messageDiv.style.whiteSpace = 'nowrap';
            messageDiv.style.pointerEvents = 'none';

            document.body.appendChild(messageDiv);
            console.log("Message added to DOM:", messageDiv);

            setTimeout(() => {
                messageDiv.remove();
                console.log("Message removed from DOM");
            }, 3000);
        }


            </script>
</main>
</body>
</html>
